ETS_STORAGE_PROVIDER=in_memory
ETS_SQLITE_PATH=.data/ets.db
ETS_LOG_ID=ets-local-dev
ETS_REDACTION_PROFILE=none
ETS_AUTH_MODE=local_header
ETS_LOCAL_API_KEY=replace-with-16-plus-characters
ETS_AUTH_HS256_SECRET=replace-with-32-plus-characters-for-local-testing
ETS_AUTH_ISSUER=
ETS_AUTH_AUDIENCE=
ETS_AUTH_JWKS_JSON=
ETS_AUTH_JWKS_URL=
ETS_SIGNING_MODE=local_unsigned
ETS_SIGNING_PRIVATE_KEY_HEX=
ETS_SIGNING_PUBLIC_KEY_ID=
